{% extends 'base.html.twig' %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-auto">
        <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Deadline</th>
            <th scope="col">Clanek</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row"> {{ ukol.getId() }} </th> 
            <td> {{ ukol.getDeadline() }} </td>
            <td> {{ ukol.getClanek().getNazevClanku() }}</td>
            </tr>
        </tbody>
        </table>
        <br>
        <form action="{{ path('app_delete_ukol', {'id': ukol.getId() }) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ukol.getId() ) }}">
            <button type="submit" class="btn btn-primary">Delete</button>    
        </form>
        <br>
            <button class="btn btn-primary" onclick="window.history.back();">Go Back</button>
        </div>
    </div>

{% endblock %}

