{% extends 'base.html.twig' %}

{% block title %}Články{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container kontejner">
  <div class="filter-dropdown">
    <br>
    <form method="get" action="{{ path('app_home') }}" class="form-inline">
      {% if app.request.query.get('autor-filter') or app.request.query.get('search') %}
        <button type="submit" class="btn btn-danger">Remove Filter</button>
      {% else %}
        <select name="autor-filter" onchange="this.form.submit()" class="form-control">
            <option value="">Autor ↓</option>
            {% if authors != null %}
                {% for i in 0..(authors|length - 1) %}
                <option value="{{ authorsIds[i] }}">{{ authors[i] }}</option>
                {% endfor %}
            {% endif %}
        </select>
      {% endif %}
    </form>
  </div>
  
{% if clanky == null %}
    <span><br>Zadne clanky k zobrazeni</span>
{% else %}
    {% for i in 0..(clanky|length - 1) %}
        <div class="card m-3 rad-25" style="width: 18rem;">

        <div class="card-header bg-red">
          <h5 class="white rad-25 text-center">{{ clanky[i].getNazevClanku() }}</h5>
        </div>

        <div class="card-body d-flex flex-column">
          <h5 class="">{{ clanky[i].getUser().getFirstName() }} {{ clanky[i].getUser().getLastName() }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ datumy[i] }}</h6> 
          <div class="mt-auto d-flex justify-content-between">
          <a class="btn btn-primary w-50 bg-red-soft" href="{{ path('app_download', {'clanek': clanky[i].getId(), 'verze': verze_clanku[i].getId(), 'soubor': soubory[i] }) }}">Stahnout</a>
        </div>
        </div>
      </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
