{% extends 'base.html.twig' %}

{% block title %} Prehled clanku zaslanych do redakce {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a class="btn btn-primary" href="{{ path('app_create_clanek') }}">Zaslat novy clanek</a><br/><br/>
    <table class="table table-striped table-hover" style="margin-left: auto; margin-right: auto;" >
        <thead class="shadow-sm">
         <tr>
           <th>Datum</th>
           <th>Clanek</th>
           <th>Stav</th>
           <th>Detail</th>
         </tr> 
         </thead>
         <tbody>
         {% for i in 0..(clanky|length - 1) %}
         <tr>
             <td> {{ clanek_verze[i].getDatumNahrani() }} </td>
            <td> {{ clanky[i].getNazevClanku() }} </td>
           <td> {{ clanky[i].getStavAutor() }}</td>
           <td>
                <a class="btn btn-primary" href="{{ path('app_author_article_detail', {'clanek_id': clanky[i].getId() }) }}">Zobrazit</a>
           </td>
         </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
